{% extends 'base.html' %}
{% include 'headers.html' %}


{% block title%} People {% endblock %}

{% block body %} 

<hr style="height:5px;border-width:0;color:rgb(66, 66, 66);background-color:rgb(66, 66, 66)">

<!--The info area -->
<div class="container">
    <div class="alert alert-info h5 text-center" role="alert">
        Data for all the people with deleted record of {{nameone}}
    </div>  
    <div class="alert alert-info h5 text-center" role="alert">
        There are totally {{count}} people
    </div> 
</div> 

<div class="container">
<table class="table">
    <tbody>
        <table class="table table-secondary table-striped text-center table-hover">
            <tr>
                <th>Name</th>
                <th>Row</th>
                <th>Seat</th>
                <th>Picture</th>
                <th>Notes</th>
             </tr>
        {% for item in list4 %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td><img src={{link}}{{item[3]}} width="50" height="50"></td>
            <td>{{item[4]}}</td>
        </tr>
        {% endfor %} 
        </table>  
    </tbody>
   </table>
</div>
{% endblock %}