{% extends 'base.html' %}


{% block body %} 

<!-- <div class="container mt-3">
    <div class="row">
      <div class="alert alert-danger h2 text-center" role="alert">
        Assignment 1
      </div>
    </div>
</div> -->

<!-- <div class = "container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center h5">
        Name
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0"> -->
            <p class="h1 ">Yashaswini Ashok</p>
          <!-- </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-3">k
      <div class="card">
        <div class="card-header text-center h5">
        UTA ID
        </div> -->
        <!-- <div class="card-body"> -->
          <!-- <blockquote class="blockquote mb-0"> -->
            <p class="h1">74339</p>
            <img src="https://yashassign1.blob.core.windows.net/yashassign1/md.jpg" width="150" height="150">
          <!-- </blockquote> -->
        <!-- </div> -->
      <!-- </div>
    </div> -->
    <!-- <div class="col-sm-3"> -->
      <!-- <div class="card"> -->
        <!-- <div class="card-header text-center h5">
        Course Code
        </div> -->
        <!-- <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="h5 text-center">CSE 6331</p>
          </blockquote>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-sm-3"> -->
      <!-- <div class="card"> -->
        <!-- <div class="card-header text-center h5">
        Section
        </div> -->
        <!-- <div class="card-body"> -->
          <!-- <blockquote class="blockquote mb-0">
            <p class="h5 text-center">004 LEC</p>
          </blockquote> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div>
</div> -->

{% endblock %}